<!DOCTYPE html>
<html>
    <head>
        <title>
            Agenda
        </title>
    </head>

    <body>

        <h2>Agregar nuevo contacto:</h2>
        <form action="/" method="post">
            <label>Nombre:</label>
            <input type="text" id="nombre" name="name"><br><br>
            <label>Apellido:</label>
            <input type="text" id="apellido" name="lname"><br><br>
            <input type="submit" value="Agregar contacto">
        </form>

        <br><br>

        <div>
            <h3>Agenda de contactos:</h3>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>

                <tbody>
                    {% for contacto in contactos %}
                        <tr>
                            <td>{{ contacto.idPersona }}</td>
                            <td>{{ contacto.nombre }}</td>
                            <td>{{ contacto.apellido }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </body>
</html>